<div class="sidebar">

    <h3 class="sidebar-title">Search</h3>
    <div class="sidebar-item search-form">
        <form action="">
        <input type="text">
        <button type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End sidebar search formn-->

    <h3 class="sidebar-title">Categories</h3>
    <div class="sidebar-item categories">
        <ul>
            <% categoryList.forEach(category => { %>
                <li><a href="#"> <%= category.name %> <span>(<%= category.count %>)</span></a></li>
            <% }); %>
        </ul>
    </div><!-- End sidebar categories-->

    <h3 class="sidebar-title">Recent Posts</h3>
    <div class="sidebar-item recent-posts">
        <% recentIdeas.forEach(idea => { %>
            <div class="post-item clearfix">
                <img src="https://source.unsplash.com/user/c_v_r" alt="">
                <h4><a href="/idea/<%= idea._id %>"><%= idea.title %></a></h4>
                <time datetime="2020-01-01"><%= idea.createdAt.toLocaleString('default') %></time>
                </div>
        <% }); %>
    </div><!-- End sidebar recent posts-->


    </div>