
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Idea - Greenwich</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="../../../vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="../../../css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Start Header -->
    <%- include("../../partials/user/header") %>
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <%- include("../../partials/user/breadcrumbs") %>
    <!-- End Breadcrumbs -->

     
     <section id="idea" class="setting">
      <div class="container" data-aos="fade-up">
        <div class="main-body">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="../images/coment/coment1.jpg" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4><%= user.fullName %></h4>
                      <p class="text-secondary mb-1"></p>
                      <% user.contact.addresses.forEach(address => {
                        %>
                        <p class="text-muted font-size-sm"><%= address.street%>, <%= address.city%>, <%= address.country%> </p>
                        <%
                      }); %>
                      
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Facebook</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-header">
                  <h1>Account setting</h1> 
                </div>
                <div class="card-body">
                  
                  
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= user.username %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      Password
                    </div>
                    <div class="col-sm-6 text-secondary">
                      *************
                    </div>
                    <div class="col-sm-3 text-secondary">
                      <a href="/setting/setting-password/<%= user._id %>" class="link-primary">Set password</a>
                    </div>
                  </div>
                  <hr>
                  
                  
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Role</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <% user.roles.forEach(role => {
                        for(let i = 0; roles[i] != undefined; i++){
                          if (role.roleId.toString() == roles[i]._id.toString()){
                            %>
                            <p><%= roles[i].name %></p>
                            <%
                            break;
                          }
                        }
                      }); %>
                       
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Department</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%
                      for(let i = 0; departments[i] != undefined; i++){
                        if(user.departmentId.toString() == departments[i]._id.toString()){
                          %>
                          <%= departments[i].name%>
                          <%
                        }
                      }
                      %>
                    </div>
                  </div>
                  
                  <hr>
                  <form action="/setting/<%= user._id %>" method="post">
                    <div class="card-tools d-flex justify-content-between">
                      <h2>Account information</h2> 
                    </div>   
                  
                    <div class="mb-3">
                        <div class="card-tools d-flex justify-content-between">
                            <label for="name">Email</label>  
                            <button type="button" class="btn btn-tool" id="add-email">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <% 
                        //create new array in contact
                        let {emails, phones, addresses} = user.contact
                        %>
                        <% 
                        if(emails.length != 0){
                            %>
                            <input type="text" class="form-control" id="input" name="emails[]" placeholder="Enter email" value="<%= emails[0].email %>">
                                            
                            <div class="input-box">
                                <%
                                for(let i = 1; emails[i] != undefined; i++){
                                    %>
                                    <br>
                                    <input type="text" class="form-control" id="input" name="emails[]" placeholder="Enter email" value="<%= emails[i].email %>">
                                    <%
                                }
                                %>    
                            </div>
                            <%
                        } else {
                            %>
                            <input type="text" class="form-control" id="input" name="emails[]" placeholder="Enter email">
                            <div class="input-box"></div>
                            <%
                        }
                        %>
                      
                    </div>
                    <div class="mb-3">
                        <div class="card-tools d-flex justify-content-between">
                            <label for="name">Phone</label>  
                            <button type="button" class="btn btn-tool" id="add-phone">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>      
                        <% 
                        if(phones.length != 0){
                            %>
                            <input type="text" class="form-control" id="input" name="phones[]" placeholder="Enter phone" value="<%= phones[0].phone %>">
                            <div class="input-box">
                                <%
                                for(let i = 1; phones[i] != undefined; i++){
                                    %>
                                    <input type="text" class="form-control" id="input" name="phones[]" placeholder="Enter phone" value="<%= phones[i].phone %>">
                                    <%
                                }
                                %>    
                            </div>
                            <%
                        } else {
                            %>
                            <input type="text" class="form-control" id="input" name="phones[]" placeholder="Enter phone">
                            <div class="input-box"></div>
                            <%
                        }
                        %>
                    </div>
                    <hr>
                    <div class="address-box">
                        <div class="card-tools d-flex justify-content-between">
                            <h3 class="card-title">Address</h3> 
                            <button type="button" class="btn btn-tool" id="add-address">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>    
                        
                        <% 
                        if(addresses.length != 0){
                            %>
                            <div class="address-group">
                                <div class="form-group">
                                    <label for="name">Street</label>
                                    <textarea class="form-control" rows ="6" id="streets" name="streets[]" placeholder="Enter Street"><%= addresses[0].street %></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="name">City</label>
                                    <input type="text" class="form-control" id="cities" name="cities[]" placeholder="Enter city" value="<%= addresses[0].city %>">
                                </div>
                                <div class="form-group">
                                    <label for="name">Country</label>
                                    <input type="text" class="form-control" id="countries" name="countries[]" placeholder="Enter country" value="<%= addresses[0].country%>">
                                </div>
                            </div>
                            <div class="input-box">
                                <%
                                for(let i = 1; addresses[i] != undefined; i++){
                                    %>
                                    <br>
                                    <p>Other address</p>
                                    <div class="address-group">
                                        <div class="form-group">
                                            <label for="name">Street</label>
                                            <textarea class="form-control" rows ="6" id="streets" name="streets[]" placeholder="Enter Street"><%= addresses[i].street %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">City</label>
                                            <input type="text" class="form-control" id="cities" name="cities[]" placeholder="Enter city" value="<%= addresses[i].city %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Country</label>
                                            <input type="text" class="form-control" id="countries" name="countries[]" placeholder="Enter country" value="<%= addresses[i].country%>">
                                        </div>
                                    </div>
                                    <%
                                }
                                %>    
                            </div>
                            <%
                        } else {
                            %>
                            <div class="address-group">
                                <div class="form-group">
                                    <label for="name">Street</label>
                                    <textarea class="form-control" rows ="6" id="streets" name="streets[]" placeholder="Enter Street"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="name">City</label>
                                    <input type="text" class="form-control" id="cities" name="cities[]" placeholder="Enter city">
                                </div>
                                <div class="form-group">
                                    <label for="name">Country</label>
                                    <input type="text" class="form-control" id="countries" name="countries[]" placeholder="Enter country">
                                </div>
                            </div>
                            <div class="input-box"></div>
                            <%
                        }
                        %>
                        
                        
                    </div>
                    <hr>
                    <div class="card-tools d-flex justify-content-between">
                      <h2>Account mode</h2> 
                    </div> 
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="ideaMode">
                      <label class="form-check-label" for="flexCheckDefault">
                        Anonymously idea mode
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="commentMode">
                      <label class="form-check-label" for="flexCheckChecked">
                        Anonymously comment mode
                      </label>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <section class="breadcrumbs">
              <div class="container">
                <h3>Hieu's Idea</h3>
              </div>
            </section>
          </div>
        </div>
    </div>
    </section>

  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <%- include("../../partials/user/footer")%>
  <!-- End Footer -->

  <!--Back to top-->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- js -->
  
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/purecounter/purecounter.js"></script>
  <script src="../../vendor/aos/aos.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../vendor/ckeditor/ckeditor.js"></script>
  <script src="../../javascript/main.js"></script>
  <script>
    $("#add-address").on('click', function(){
        var parentDiv = $(this).parent().parent() 
        var childDiv = $(this).parent().parent().children(".address-group")
        var inputBox = $(this).parent().parent().children(".input-box")
        $("<br>").appendTo(inputBox)
        $("<p>Other address<p>").appendTo(inputBox)
        $(childDiv).clone().appendTo(inputBox)
        
    })

    $("#add-phone").on('click', function(){
        var parentDiv = $(this).parent().parent() 
        var childDiv = $(this).parent().parent().children("#input")
        var inputBox = $(this).parent().parent().children(".input-box")
        $("<br>").appendTo(inputBox)
        $(childDiv).clone().appendTo(inputBox)
        
    })

    $("#add-email").on('click', function(){
        var parentDiv = $(this).parent().parent() 
        var childDiv = $(this).parent().parent().children("#input")
        var inputBox = $(this).parent().parent().children(".input-box")
        $("<br>").appendTo(inputBox)
        $(childDiv).clone().appendTo(inputBox)
        
    })
  </script>

</body>

</html>