<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> <%= page %> | <%= title %></title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../../admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../admin/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('../../partials/admin/header'); -%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <!-- Sidebar -->
  <%- include('../../partials/admin/sidebar'); -%>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%- include('../../partials/admin/content-header-wrapper'); -%>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!--Card-->
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Idea</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Department</th>
                    <th>Username</th>
                    <th>Submission</th>
                    <th>Anonymous</th>
                    <th>Reactions</th>
                    <th>Comments</th>
                    <th>Views</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    <% ideas.forEach(idea => {
                      %>
                      <tr>
                        <td><%= idea.title %></td>
                        <td><%= idea.categoryId.name %></td>
                        <td><%= idea.description %></td>
                        <td><%= idea.userId.department.departmentId.name %></td>
                        <td><%= idea.userId.username %></td>
                        <td><%= idea.submissionId.name %></td>
                        <td><%= idea.isAnonymously %></td>            
                        <td><%= idea.reactions.length %></td>            
                        <td><%= idea.comments.length %></td>            
                        <td><%= idea.views.length %> </td>            
                        <td><%= idea.createdAt.toLocaleString('default') %></td>
                        <td><%= idea.updatedAt.toLocaleString('default') %></td>
                        <td>
                          <a data-confirm="Are you sure?" href="/admin/idea/delete/<%= idea._id %>" class="btn btn-tool"><i class="fas fa-trash-alt"></i></a>
                          <a href="/admin/idea/detail/<%= idea._id %>" class="btn btn-tool"><i class="fas fa-eye"></i></a>
                        </td>
                      </tr>
                      <%
                    }); %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
   <!-- Main Footer -->
   <%- include('../../partials/admin/footer'); -%>
   <!-- End Footer-->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../../admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../../admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../../admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../../admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../../admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../../admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../../admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../../admin/plugins/jszip/jszip.min.js"></script>
<script src="../../../admin/plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../../admin/plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../../admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../../admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../../admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../../admin/dist/js/adminlte.min.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>
</body>
</html>
