<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= page %> | <%= title %></title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="../../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../admin/dist/css/adminlte.min.css">
</head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('../../partials/admin/header'); -%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <!-- Sidebar -->
  <%- include('../../partials/admin/sidebar'); -%>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Idea Each Department</h3>
                </div>
              </div>
              <div class="card-body">

                <!-- /.d-flex -->

                <div class="position-relative mb-4">
                  <canvas id="sales-chart" height="200"></canvas>
                </div>

                <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> Idea Each Department
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Percentage Each Department</h3>
                </div>
              </div>
              <div class="card-body">

                <!-- /.d-flex -->

                <div class="position-relative mb-4">
                  <canvas id="percent" height="200"></canvas>
                </div>

                <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> Percentage
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">User Posted Idea Each Department</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="donutChart" style="min-height: 160px; height: 160px; max-height: 160px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Anonymously Idea </h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Idea Title</th>
                    <th>Idea Views </th>
                    <th>Idea Reactions</th>
                    <th>Idea Comments</th>
                  </tr>
                  </thead>
                  <% anonymouslyIdea.forEach(anonymous =>{
                   %> 
                  <tbody>
                    <tr>
                      <td><%= anonymous.title %> </td>
                      <td><%= anonymous.views.length %> </td>
                      <td><%= anonymous.reactions.length %> </td>
                      <td><%= anonymous.comments.length %> </td>
                    </tr>
                  </tbody>
                  <% 
                 }) %> 
                </table>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Idea Have No Comments </h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Idea Title</th>
                    <th>Idea Views </th>
                    <th>Idea Reactions</th>
                    <th>Idea Comments</th>
                  </tr>
                  </thead>
                  <% noComment.forEach(commnet =>{
                   %> 
                  <tbody>
                    <tr>
                      <td><%= commnet.title %> </td>
                      <td><%= commnet.views.length %> </td>
                      <td><%= commnet.reactions.length %> </td>
                      <td><%= commnet.comments.length %> </td>
                    </tr>
                  </tbody>
                  <% 
                 }) %> 
                </table>
              </div>
            </div>
          </div>
          <!-- Cai nay can xu ly ne-->
          <!-- Cai nay can xu ly ne-->
        </div>
        <!-- /.row -->
      </div> <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <%- include('../../partials/admin/footer'); -%>
  <!-- End Footer-->
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="./../../admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="./../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="./../../admin/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="./../../admin/plugins/chart.js/Chart.min.js"></script>
<script>
  $(function () {
    /* ChartJS
    
     * -------
     * Here we will create a few charts using ChartJS
     */
     var ideaEachDepartment = JSON.parse('<%- JSON.stringify(ideaEachDepartment) %> ')
     var ideaEachDepartmentLabel = []
     var ideaEachDepartmentData = []
     ideaEachDepartment.forEach(department => {
      ideaEachDepartmentLabel.push(department.name)
      ideaEachDepartmentData.push(department.count)
     })
     var ticksStyle = {
      fontColor: '#495057',
      fontStyle: 'bold'
    }
  
    var mode = 'index'
    var intersect = true
  
    var $salesChart = $('#sales-chart')
    // eslint-disable-next-line no-unused-vars
    var salesChart = new Chart($salesChart, {
      type: 'bar',
      data: {
        labels: ideaEachDepartmentLabel,
        datasets: [
          {
            backgroundColor: '#007bff',
            borderColor: '#007bff',
            data: ideaEachDepartmentData
          },
        ]
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          mode: mode,
          intersect: intersect
        },
        hover: {
          mode: mode,
          intersect: intersect
        },
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            // display: false,
            gridLines: {
              display: true,
              lineWidth: '4px',
              color: 'rgba(0, 0, 0, .2)',
              zeroLineColor: 'transparent'
            },
            ticks: $.extend({
              beginAtZero: true,
  
              // Include a dollar sign in the ticks
              callback: function (value) {
                return  value
              }
            }, ticksStyle)
          }],
          xAxes: [{
            display: true,
            gridLines: {
              display: false
            },
            ticks: ticksStyle
          }]
        }
      }
    })


    var percentageIdeaEachDepartment = JSON.parse('<%- JSON.stringify(percentageIdeaEachDepartment) %> ')
    var ideaPercentLabel = []
    var ideaPercentData1 = []
    var ideaPercentData2 = []
    percentageIdeaEachDepartment.forEach(percent => {
      ideaPercentLabel.push(percent.name)
      ideaPercentData1.push(percent.count)
      ideaPercentData2.push(percent.percentage)
     })
    var ticksStyle = {
      fontColor: '#495057',
      fontStyle: 'bold'
    }
  
    var mode = 'index'
    var intersect = true
  
    var $percent = $('#percent')
    // eslint-disable-next-line no-unused-vars
    var salesChart = new Chart($percent, {
      type: 'bar',
      data: {
        labels: ideaPercentLabel,
        datasets: [
          {
            backgroundColor: '#007bff',
            borderColor: '#007bff',
            data: ideaPercentData2
          },
        ]
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          mode: mode,
          intersect: intersect
        },
        hover: {
          mode: mode,
          intersect: intersect
        },
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            // display: false,
            gridLines: {
              display: true,
              lineWidth: '4px',
              color: 'rgba(0, 0, 0, .5)',
              zeroLineColor: 'transparent'
            },
            ticks: $.extend({
              beginAtZero: true,
  
              // Include a dollar sign in the ticks
              callback: function (value) {
                return  value
              }
            }, ticksStyle)
          }],
          xAxes: [{
            display: true,
            gridLines: {
              display: false
            },
            ticks: ticksStyle
          }]
        }
      }
    })
    
    
    var userPostedIdeaEachDepartment =  JSON.parse('<%- JSON.stringify(userPostedIdeaEachDepartment) %> ')
    var userPostedLabel = []
    var userPostedData  = []
    userPostedIdeaEachDepartment.forEach(posted => {
      userPostedLabel.push(posted.name)
      userPostedData.push(posted.count)
    })
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData        = {
      labels: userPostedLabel,
      datasets: [
        {
          data:userPostedData ,
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })
  })
</script>
</body>
</html>
