<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Project Detail</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <%- include('../../partials/admin/header'); -%>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <!-- Sidebar -->
    <%- include('../../partials/admin/sidebar'); -%>
    <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%- include('../../partials/admin/content-header-wrapper'); -%>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- Create new role card-->
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Views Profile</h3>

                <section id="idea" class="profile">
                    <div class="container" data-aos=  "fade-up">
                      <div class="main-body">
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                  <img src="../images/coment/coment1.jpg" alt="Admin" class="rounded-circle" width="150">
                                  <div class="mt-3">
                                    <h4>Tran Hieu</h4>
                                    <p class="text-secondary mb-1">Full Stack Developer</p>
                                    <p class="text-muted font-size-sm">114 Nguyen Xi, Q.Binh Thanh, Sai Gon, Viet Name</p>
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-outline-primary">Facebook</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="card mb-3">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                  </div>
                                  <div class="col-sm-9 text-secondary">
                                    Tran Hieu
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                  </div>
                                  <div class="col-sm-9 text-secondary">
                                    tdhieu23
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                  </div>
                                  <div class="col-sm-9 text-secondary">
                                    tdhieu23@gmail.com
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Role</h6>
                                  </div>
                                  <div class="col-sm-9 text-secondary">
                                     <p>Admin</p>
                                     <p>QA Manager</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Department</h6>
                                  </div>
                                  <div class="col-sm-9 text-secondary">
                                    Team 1
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                  </div>
                                  <div class="col-sm-9 text-secondary">
                                     <p>(+84) 012-0123-012</p>
                                     <p>(+84) 012-0123-012</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                  </div>
                                  <div class="col-sm-9 text-secondary">
                                    Bay Area, San Francisco, CA
                                  </div>
                                </div>
                                <hr>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <section class="breadcrumbs">
                            <div class="container">
                              <h3>Hieu's Idea</h3>
                            </div>
                          </section>
                        </div>
                      </div>
                  </div>
                  </section>
              

                
                  <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <br>
                    <div class="text-muted">
                      <p class="text-sm">Full Name
                        <b class="d-block"><%= user.fullName%></b>
                      </p>
                      <p class="text-sm">Role
                        <%
                        user.roles.forEach(role => {
                          for(let i = 0; roles[i] != undefined; i++){
                            if(role.roleId.toString() == roles[i]._id.toString()){
                              %>
                              <b class="d-block"><%= roles[i].name%></b>
                              <% 
                            }
                          }
                        });
                        %>
                      </p>
                      <p class="text-sm">Email
                        <%
                        user.contact.emails.forEach(email => {
                          %>
                          <b class="d-block"><%= email.email %></b>
                          <%
                        })
                        %>
                      </p>
                      <p class="text-sm">Phone
                        <%
                        user.contact.phones.forEach(phone => {
                          %>
                          <b class="d-block"><%= phone.phone %></b>
                          <%
                        })
                        %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <%- include('../../partials/admin/footer'); -%>
  <!-- End Footer-->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</body>
</html>
