<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Project Detail</title> 

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <%- include('../../partials/admin/header'); -%>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <!-- Sidebar -->
    <%- include('../../partials/admin/sidebar'); -%>
    <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%- include('../../partials/admin/content-header-wrapper'); -%>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- Create new role card-->
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">User Profile</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <div class="info-box bg-light">
                          <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Total idea</span>
                            <span class="info-box-number text-center text-muted mb-0"><%= userAndIdeas[0].count %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <h4>All idea</h4>
                        <% userAndIdeas[0].ideas.forEach(idea => { %>
                          <div class="post">
                            <div class="user-block">
                              <span>
                                <a href="/admin/idea/detail/<%= idea.ideaId %>"><%= idea.ideaTitle %></a>
                              </span>
                              <br>
                              <span>Submit date - <%= idea.ideaUpdatedAt.toLocaleString('default') %></span>
                            </div>
                            <!-- /.user-block -->
                            <p>
                              <% if(!idea.ideaDescription){%> <%= "No description" %> <%} else{%><%= idea.ideaDescription %> <%}%>
                              
                            </p>
                          </div>
                        <%}); %>
                          
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h3 class="text-primary"><i class="fas fa-paint-brush"></i>User Information</h3>
                    <br>
                    <div class="text-muted">
                      <p class="text-sm">Full Name
                        <b class="d-block"><%= userAndIdeas.fullName%></b>
                      </p>
                      <p class="text-sm">Role
                        <%
                        userAndIdeas[0].roles.forEach(role => {
                              %>
                              <b class="d-block"><%= role.roleName %></b>
                              <% 
                        });
                        %>
                      </p>
                      <p class="text-sm">Email
                        <%
                        userAndIdeas[0].contact.emails.forEach(email => {
                          %>
                          <b class="d-block"><%= email.email %></b>
                          <%
                        })
                        %>
                      </p>
                      <p class="text-sm">Phone
                        <%
                        userAndIdeas[0].contact.phones.forEach(phone => {
                          %>
                          <b class="d-block"><%= phone.phone %></b>
                          <%
                        })
                        %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
      
      
      
      
      
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Back to list</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-footer">
                            <a class="btn btn-secondary" href="/admin/user"> Back to List</a>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <%- include('../../partials/admin/footer'); -%>
  <!-- End Footer-->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
